.carousel_content{/*更改投影片內容字體*/
	
	color:#b0c4de;
	font-size:60px;
	font-family:Arial, sans-serif;
	
}

.col-md-3point5 {
	width: 25%;
}
.col-md-8point5 {width: 81.25%;}

.W1366{
	width: 1366px;
}

.hCenter {
    margin-left:10%;
}