.carousel_content{/*更改投影片內容字體*/
	
	color:#b0c4de;
	font-size:60px;
	font-family:Arial, sans-serif;
}

.W1366{
	width: 1366px;
}

.heading-text {
	height:152px;/*與heading的長度相同*/
	width:142px;
    text-align:center;
	color:#b0c4de;
}

.video-style{
	
	 width:"840px"; 
	 height:"400px";
}